/source/__history
/source/__recovery
/samples/vclmessaging/__history
/samples/vclmessaging/__recovery
/samples/vclmessaging/Win32
/samples/vclmessaging/*.stat
/tests/*.stat
/tests/__history
/tests/__recovery
/tests/Win32
